main {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* 12 equal-width columns */
  grid-template-rows: repeat(9, 1fr); /* 9 equal-height rows */
  gap: 10px;
  max-width: 1190px;
  margin: 20px;
  background-color: pink; /* For debugging */
}

.card {
  width: 90px;
  height: 90px;
  min-width: 90px; /* To maintain sizing when zoomed in */
  background-color: lightblue;
  border-radius: 6px;
  /* box-shadow: 3px 3px 3px gray; */
}

.card img {
  margin: 5px;
}

.removed-card {
  display: hidden;
}
